[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-cors = "*"
psycopg2 = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "waitress-serve --call \"backend:create_app\""
